@import url('https://fonts.googleapis.com/css2?family=Bungee&family=JetBrains+Mono:wght@400;500&family=Rajdhani:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-bungee: 'Bungee', cursive;
  --font-bungee-shade: 'Bungee Shade', cursive;
  --font-rajdhani: 'Rajdhani', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

/* Aplicación de fuentes globales */
body {
  font-family: var(--font-rajdhani);
}

h1 {
  font-family: var(--font-bungee);
}

.titulo-efecto {
  font-family: var(--font-bungee-shade);
}

code, pre {
  font-family: var(--font-mono);
}